<h1 class="text-2xl font-bold mb-4">Parks</h1>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <% @parks.each do |park| %>
        <div class="bg-gray-700 p-4 rounded shadow">
            <h2 class="text-xl font-bold">
                <%= link_to park.park_name, park_path(park), class: 'text-blue-500 hover:underline' %>
            </h2>
            <p>Location: <%= park.location %></p>
            <p>Neighborhood: <%= park.nbhd %></p>
            <p>Area (ha): <%= park.area_ha %></p>
        </div>
    <% end %>
</div>

<div class="mt-4">
    <%= paginate @parks, window: 2 %>
</div>
