<div class="max-w-4xl mx-auto bg-gray-700 text-white shadow-md rounded-lg p-6 mt-6">
    <h1 class="text-2xl font-bold mb-4"><%= @park.park_name %></h1>

    <p class="text-lg mb-2">Location: <%= @park.location %></p>
    <p class="text-lg mb-2">Neighborhood: <%= @park.nbhd %></p>
    <p class="text-lg mb-4">Area (ha): <%= @park.area_ha %></p>

    <!-- Conditional rendering -->
    <h2 class="text-xl font-semibold mt-6 mb-2">Trees in this park</h2>
    <% if @park.trees.any? %>
        <ul class="list-disc list-inside mb-4">
            <% @trees.each do |tree| %>
                <li><%= link_to tree.common, tree_path(tree), class: "text-blue-500" %></li>
            <% end %>
        </ul>
    <% else %>
        <p class="mb-4">There are no trees in this park.</p>
    <% end %>

    <h2 class="text-xl font-semibold mt-6 mb-2">Assets in this park</h2>
    <% if @park.assets.any? %>
    <ul class="list-disc list-inside mb-4">
        <% @park.assets.each do |asset| %>
            <li><%= asset.asset_class %> (<%= asset.asset_type %>)</li>
        <% end %>
    </ul>
    <% else %>
        <p class="mb-4">There are no assets in this park.</p>
    <% end %>

    <%= link_to 'Back to Parks', parks_path, class: 'text-blue-500 hover:underline' %>

</div>
