<h1><%= @tree.common %></h1>
<p>Botanical Name: <%= @tree.botanical %></p>
<p>Location: (<%= @tree.x %>, <%= @tree.y %>)</p>
<p>Neighborhood: <%= @tree.nbhd %></p>
<p>Park: <%= link_to @tree.park.park_name, park_path(@tree.park) if @tree.park %></p>
