<h1>Asset Details</h1>

<p>
    <strong>Asset ID:</strong>
    <%= @asset.asset_id %>
</p>

<p>
    <strong>Asset Class:</strong>
    <%= @asset.asset_class %>
</p>

<p>
    <strong>Park Name:</strong>
    <%= link_to @asset.park_name, park_path(@park), class: "text-blue-500" %>
</p>

<p>
    <strong>Asset Type:</strong>
    <%= @asset.asset_type %>
</p>

<%= link_to 'Back to Assets', assets_path, class: "text-blue-500" %>
