<!DOCTYPE html>
<html>
  <head>
    <title>Parks and Trees in Winnipeg</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Parks', parks_path %>
      <%= link_to 'Trees', trees_path %>
      <%= link_to 'Assets', assets_path %>
      <%= link_to 'About', about_path %>
    </nav>
    <form action="<%= search_trees_path %>" method="get">
      <input type="text" name="query" placeholder="Search trees...">
      <select name="park_id">
        <option value="">Neighborhood</option>
        <% Park.distinct.order(:nbhd).pluck(:nbhd).uniq.each do |nbhd| %>
          <option value="<%= nbhd %>"><%= nbhd %></option>
        <% end %>
      </select>
      <input type="submit" value="Search">
    </form>

    <%= yield %>
  </body>
</html>

